<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('public')?>/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('public')?>/css/main.css"/>
    <script type="text/javascript" src="<?php echo base_url('public')?>/js/libs/modernizr.min.js"></script>
</head>
<body>

<!-- 载入公共文件 -->
<?php $this->load->view('pub.html') ?>
<!-- 载入公共文件 -->

    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
           <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">订单管理</a><span class="crumb-step">&gt;</span><span>订单详情</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <td><a href="<?php echo site_url('Order/lists')?>"><input class="btn btn-primary btn2" value="返回订单列表" type="button"></a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                    </div>
                </div>
                <div class="result-content">
                <div id="div1">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>商品品牌</th>
                            <th>商品类型</th>
                            <th>商品价格</th>
                            <th>购买数量</th> 
                        </tr>
                        <?php foreach ($arr as $v) { ?>
                        <tr>
                            <td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>
                            <td><?php echo $v['goods_name'] ?></td>
                            <td><img src="<?php echo "./Crazy/xiangmu/../../../../".$v['goods_img_path']?>" width="60px" height="60px"></td>
                            <td><?php echo $v['brand_name'] ?></td>
                            <td><?php echo $v['goods_type_name'] ?></td>
                            <td><?php echo $v['goods_sku_price'] ?></td>
                            <td><?php echo $v['border_goods_count'] ?></td>
                        </tr>
                        <?php } ?>
                    </table>
                </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>