<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('public')?>/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('public')?>/css/main.css"/>
    <script type="text/javascript" src="<?php echo base_url('public')?>/js/libs/modernizr.min.js"></script>
</head>
<body>

<!--载入公共文件 -->
<?php $this->load->view('pub.html') ?>
<!--载入公共文件 -->

    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
           <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">订单管理</a><span class="crumb-step">&gt;</span><span>订单列表</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">订单号:</th>
                            <td><input class="common-text" placeholder="请输入订单号" id="border_num" type="text"></td>
                            <th width="70">收货人:</th>
                            <td><input class="common-text" placeholder="请输入收货人姓名" id="u_name" type="text"></td>
                            <th width="80">订单状态:</th>
                            <td>
                                <select name="search-sort" id="total">
                                    <option value="">请选择...</option>
                                    <option value="1">待付款</option>
                                    <option value="2">已付款</option>
                                    <option value="3">已发货</option>
                                    <option value="4">已完成</option>
                                    <option value="0">退货</option>
                                </select>
                            </td>
                            <td><input class="btn btn-primary btn2" onclick="sou()" value="查询" type="button"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                    </div>
                </div>
                <div class="result-content">
                <div id="div1">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>
                            <th>订单号</th>
                            <th>收货人</th>
                            <th>收货地址</th>
                            <th>总金额</th> 
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($arr as $v) { ?>
                        <tr>
                            <td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>
                            <td><?php echo $v['border_number'] ?></td>
                            <td><?php echo $v['user_name'] ?></td>
                            <td><?php echo $v['address_area'] ?></td>
                            <td>$<?php echo $v['border_total'] ?></td>
                            <td><?php
                            if($v['border_state']==0){
                                echo"退货";
                            }elseif($v['border_state']==1){
                                echo"待付款";
                            }elseif($v['border_state']==2){
                                echo"已付款";
                            }elseif($v['border_state']==3){
                                echo"已发货";
                            }elseif($v['border_state']==4){
                                echo"已完成";
                            }
                            ?></td>
                            <td>
                                <a class="link-update" href="#">查看</a>
                            </td>
                        </tr>
                        <?php } ?>
                    </table>
                    <div class="list-page"><?php echo $page; ?></div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

<script src="<?php echo base_url('Public/jquery.js') ?>"></script>
<script>
    function sou(){
        var u_name=$("#u_name").val();
        var border_num=$("#border_num").val();
        var total=$("#total").val();
         $.ajax({
                    type: "GET",
                    url: "<?php echo site_url('Order/sou')?>",
                    data:"u_name="+u_name+'&border_num='+border_num+'&total='+total,
                    dataType:'json',
                    success:function(data){
                        var order=data.arr;
                        var html = "";
                        html+='<table class="result-tab" width="100%">';
                        html+='<tr>';
                        html+='<th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>';
                        html+='<th>订单号</th>';
                        html+='<th>收货人</th>';
                        html+='<th>收货地址</th>';
                        html+='<th>总金额</th> ';
                        html+='<th>订单状态</th>';
                        html+='<th>操作</th>';
                        html+='</tr>';
                        $.each(order,function(i,item){
                        html+='<tr>';
                        html+='<td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>';
                        html+='<td>'+item.border_number+'</td>';
                        html+='<td>'+item.user_name+'</td>';
                        html+='<td>'+item.address_area+'</td>';
                        html+='<td>$'+item.border_total+'</td>';
                        if(item.border_state==1){ 
                            aa='<?php echo '待付款';?>';
                        } else if(item.border_state==2){
                            aa='<?php echo '已付款';?>';
                        }else if(item.border_state==3){
                            aa='<?php echo '已发货';?>';
                        }else if(item.border_state==4){
                            aa='<?php echo '已完成';?>';
                        }else if(item.border_state==0){
                            aa='<?php echo '退货';?>';
                        }
                        html+="<td >"+aa+"</td>";
                        html+='<td><a class="link-update" href="#">查看</a></td>';
                        html+='</tr>';
                        });
                        html+='</table>';
                        html+='<div class="list-page">'+data.page+'</div>';
                        $("#div1").html(html);
                    }
                });
    }
     function sou2(page){
        var u_name=$("#u_name").val();
        var border_num=$("#border_num").val();
        var total=$("#total").val();
         $.ajax({
                    type: "GET",
                    url: "<?php echo site_url('Order/sou')?>",
                    data:"u_name="+u_name+'&border_num='+border_num+'&total='+total+'&page='+page,
                    dataType:'json',
                    success:function(data){
                        var order=data.arr;
                        var html = "";
                        html+='<table class="result-tab" width="100%">';
                        html+='<tr>';
                        html+='<th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>';
                        html+='<th>订单号</th>';
                        html+='<th>收货人</th>';
                        html+='<th>收货地址</th>';
                        html+='<th>总金额</th> ';
                        html+='<th>订单状态</th>';
                        html+='<th>操作</th>';
                        html+='</tr>';
                        $.each(order,function(i,item){
                        html+='<tr>';
                        html+='<td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>';
                        html+='<td>'+item.border_number+'</td>';
                        html+='<td>'+item.user_name+'</td>';
                        html+='<td>'+item.address_area+'</td>';
                        html+='<td>$'+item.border_total+'</td>';
                        if(item.border_state==1){ 
                            aa='<?php echo '待付款';?>';
                        } else if(item.border_state==2){
                            aa='<?php echo '已付款';?>';
                        }else if(item.border_state==3){
                            aa='<?php echo '已发货';?>';
                        }else if(item.border_state==4){
                            aa='<?php echo '已完成';?>';
                        }else if(item.border_state==0){
                            aa='<?php echo '退货';?>';
                        }
                        html+="<td >"+aa+"</td>";
                        html+='<td><a class="link-update" href="#">查看</a></td>';
                        html+='</tr>';
                        });
                        html+='</table>';
                        html+='<div class="list-page">'+data.page+'</div>';
                        $("#div1").html(html);
                    }
                });
    }
    //分页
    function ajax_page(page){
        $.ajax({
            type:"GET",
            url:"<?php echo site_url('order/ajax_page2');?>",
            data:"page="+page,
            dataType:'json',
            success:function(data){
                        var order=data.arr;
                        var html = "";
                        html+='<table class="result-tab" width="100%">';
                        html+='<tr>';
                        html+='<th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>';
                        html+='<th>订单号</th>';
                        html+='<th>收货人</th>';
                        html+='<th>收货地址</th>';
                        html+='<th>总金额</th> ';
                        html+='<th>订单状态</th>';
                        html+='<th>操作</th>';
                        html+='</tr>';
                        $.each(order,function(i,item){
                        html+='<tr>';
                        html+='<td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>';
                        html+='<td>'+item.border_number+'</td>';
                        html+='<td>'+item.user_name+'</td>';
                        html+='<td>'+item.address_area+'</td>';
                        html+='<td>$'+item.border_total+'</td>';
                        if(item.border_state==1){ 
                            aa='<?php echo '待付款';?>';
                        } else if(item.border_state==2){
                            aa='<?php echo '已付款';?>';
                        }else if(item.border_state==3){
                            aa='<?php echo '已发货';?>';
                        }else if(item.border_state==4){
                            aa='<?php echo '已完成';?>';
                        }else if(item.border_state==0){
                            aa='<?php echo '退货';?>';
                        }
                        html+="<td >"+aa+"</td>";
                        html+='<td><a class="link-update" href="#">查看</a></td>';
                        html+='</tr>';
                        });
                        html+='</table>';
                        html+='<div class="list-page">'+data.page+'</div>';
                        $("#div1").html(html);
                    }
        })
    }
</script>

</body>
</html>