 <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" disabled="disabled"></th>
                            <th>订单号</th>
                            <th>收货人</th>
                            <th>收货地址</th>
                            <th>总金额</th> 
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($arr as $v) { ?>
                        <tr>
                            <td class="tc"><input name="id[]" type="checkbox" disabled="disabled"></td>
                            <td><?php echo $v['border_number'] ?></td>
                            <td><?php echo $v['user_name'] ?></td>
                            <td><?php echo $v['address_area'] ?></td>
                            <td>$<?php echo $v['border_total'] ?></td>
                            <td><?php
                            if($v['border_state']==0){
                                echo"退货";
                            }elseif($v['border_state']==1){
                                echo"待付款";
                            }elseif($v['border_state']==2){
                                echo"已付款";
                            }elseif($v['border_state']==3){
                                echo"已发货";
                            }elseif($v['border_state']==4){
                                echo"已完成";
                            }
                            ?></td>
                            <td>
                                <a class="link-update" href="#">查看</a>
                            </td>
                        </tr>
                        <?php } ?>
                    </table>
<div class="list-page"><?php echo $page; ?></div>