

<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
           <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">商品管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="<?php echo site_url('Welcome/lists')?>">首页</a></li>
                <!--<li><a href="#" target="_blank">网站首页</a></li>-->
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <!--<li><a href="#">管理员</a></li>-->
                <!--<li><a href="#">修改密码</a></li>-->
                <li><a href="<?php echo site_url('Welcome/index')?>">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <?php
            $re=$_SESSION['res'];
        ?>
        <div class="sidebar-content">
            <?php foreach($re as $val):?>
            <ul class="sidebar-list">
                <li>
                    <?php if($val['leval']==0):?>
                    <a href="#"><i class="icon-font">&#xe003;</i><?php echo $val['power_name']?></a>
                    <?php elseif($val['leval']==1):?>
                    <ul class="sub-menu">
                        <li><a href="<?php echo site_url()."/".$val['path']?>"><i class="icon-font">&#xe003;</i> <?php echo $val['power_name']?></a></li>
                    </ul>
                    <?php endif;?>
                </li>
            </ul>
            <?php endforeach;?>
        </div>
    </div>